.container {
  display: flex;
  /* or inline-flex */
  border: 1px black solid;
}

.map_item {
  width: 50vw;
  height: 60vh;
  border: 1px black solid;
}

.weather_item {
  width: 50vw;
  height: 60vh;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.extra_item {
  width: 33.3vw;
  height: 39vh;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}